---
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<Layout title="Ashez2000 | Aswin Gangadharan">
  <section class="flex justify-between mb-10">
    <div>
      <h2 class="text-4xl font-bold">Aswin Gangadharan</h2>
      <span class="text-gray-300 mb-5 block font-semibold"
        >Software Developer</span
      >
      <p class="text-gray-400">
        Welcome to my website where I share what I'm learning about developing
        great applications, becoming a better developer and growing a career in
        tech.
      </p>
    </div>

    <div class="flex justify-center">
      <img class="w-[700px]" src="/code.svg" alt="code" />
    </div>
  </section>
  <section class="mb-5">
    <h2 class="text-3xl font-bold mb-5">Projects</h2>
    <div class="flex flex-col gap-5">
      <ProjectCard
        project={{
          name: 'Devcamper',
          description:
            'Devcamper - Nodejs API service for organizing educational online bootcamps. ',
          url: {
            github: 'https://astro.build',
            website: 'astro.build',
          },
        }}
      />
      <ProjectCard
        project={{
          name: 'Devcamper',
          description:
            'Devcamper - Nodejs API service for organizing educational online bootcamps. ',
          url: {
            github: 'https://astro.build',
            website: 'astro.build',
          },
        }}
      />
      <ProjectCard
        project={{
          name: 'Devcamper',
          description:
            'Devcamper - Nodejs API service for organizing educational online bootcamps. ',
          url: {
            github: 'https://astro.build',
            website: 'astro.build',
          },
        }}
      />
    </div>

    <div class="mt-4">
      <a href="/" class="text-sm text-slate-500 ml-5">All projects →</a>
    </div>
  </section>
</Layout>
