---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Ashez2000 | Aswin Gangadharan">
  <section class="flex justify-between mb-10">
    <div>
      <h2 class="text-4xl font-bold">Aswin Gangadharan</h2>
      <span class="text-gray-200 mb-5 block">Software Developer</span>
      <p class="text-gray-400">
        Welcome to my website where I share what I'm learning about developing
        great applications, becoming a better developer and growing a career in
        tech.
      </p>
    </div>

    <div class="flex justify-center">
      <img class="w-[700px]" src="/code.svg" alt="code" />
    </div>
  </section>
  <section>
    <h2 class="text-3xl font-bold">Projects</h2>
  </section>
</Layout>
