<header class="max-w-2xl mx-auto px-3 mt-20 mb-20">
  <div class="flex justify-between font-semibold">
    <nav class="flex gap-3">
      <a href="/">Home</a>
    </nav>
    <nav class="flex gap-3">
      <a href="/">About</a>
      <a href="/">Github</a>
    </nav>
  </div>
</header>
